/*======================
    formatação geral
=======================*/

html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
    
}

html a {
    text-decoration: none;
}

/*======================
    formatação header
=======================*/

header a.logo {
    font-weight: 600;
    color: #1090CB;
    font-size: 1.3rem;

}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 3vw 1vw 3vw 1vw;
}

header nav ul {
    display: flex;
    padding: 0.5vw 0 0 0;

}

header nav ul li a{
    padding: 0 2vw 0 2vw;
    color: #000000;

}

header nav ul li.atual a {
    color: #1090CB;
}

header nav ul li.different {
    padding: 0 0 0 1vw;
}

header nav ul li.different a {
    background-color: #1090CB;
    border-radius: 8px;
    padding: 1vw;
    color: white;
}



/*======================
    formatação main
=======================*/

section.experienced {
    background: #1090CB20;
    display: flex;

}

section.experienced div {
    margin: 8vw 15vw 0 7vw;
    
}

section.experienced div h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 2vw 0;
}

section.experienced div h1 span{
    color: #1090CB;
}

section.experienced div p {
    line-height: 2vw;
    margin: 0 0 5vw 0;
    color: #5C5C5C;
    
}

section.experienced div button {
    background-color: #1090CB;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 1vw 3vw;
    margin: 0 1.vw 0 0;
    color: white;
    border: none;


}

section.experienced div button.transparent {
    background-color: rgb(253, 253, 253);
    border:  1px solid #1090CB;
    color: #1090CB;
}

section.icons {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

section.icons ul {
    display: flex;
    justify-content: center;
}

section.icons ul li  {
    display: flex;
    padding: 4vw 1.5vw 4vw 1.5vw;
}

section.icons ul li.purple img{
    background-color: #EFEAFF;
    padding: 1.3vw;
    border-radius: 25px;
    margin:  0 1vw 0 1vw;
}

section.icons ul li.green img {
    background-color: #ECFFDA;
    padding: 1.3vw;
    border-radius: 25px;
    margin:  0 1vw 0 1vw;
}

section.icons ul li.blue img {
    background-color: #DAE6FF;
    padding: 1.3vw;
    border-radius: 25px;
    margin:  0 1vw 0 1vw;
}

section.icons ul li.orange img {
    background-color: #FFE5DA;
    padding: 1vw;
    border-radius: 25px;
    margin:  0 1vw 0 1vw;

}

section.icons ul li div {
    padding: 0 0 0 1vw;
}

section.icons ul li div h4 {
    font-weight: 600;
    padding: 0 0 0.5vw 0;
}

section.icons ul li div p {
    color: #969696;
    font-size: 0.8rem;
}

section.lorem div.first{
    text-align: center;
}

section.lorem div.first h2 {
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 7vw 0 3vw 0;
}

section.lorem div.first p {
    color: #5C5C5C;
    padding: 0 29vw 10vw 29vw;
    line-height: 1.6vw;
}

section.lorem div.simply {
    display: flex;
    margin: 0 5vw 0 5vw;
}

section.lorem div.simply h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5vw 8vw 0 8vw; 
}

section.lorem div.simply h2 span {
    color: #1090CB;
}

section.lorem div.simply p {
    color: #5C5C5C;
    font-size: 0.8rem;
    line-height: 1.6vw;
    padding: 2vw 7vw 5vw 8vw;
}

section.lorem div.simply img {
    padding: 0 5vw 0 0 ;
}

section.lorem div.dummy {
    display: flex;
    margin: 5vw 5vw 0 5vw;
}


section.lorem div.dummy h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 9vw 8vw 0 8vw; 
}

section.lorem div.dummy h2 span {
    color: #1090CB;
}

section.lorem div.dummy p {
    color: #5C5C5C;
    font-size: 0.8rem;
    line-height: 1.6vw;
    padding: 2vw 7vw 10vw 8vw;
}

section.lorem div.dummy img {
    padding: 0 5vw 0 0 ;
}

section.kodex {
    display: flex;
    text-align: center;

}

section.kodex div  h3{
    
}

/*======================
    formatação footer
=======================*/